/* Main Style Page */

/* Style for the head */
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    color: #0bdb62;
}
h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    color: blue;

}

/* Style for the page background */
body {
    background-color: rgb(85, 80, 61);
    background-image: url('flower-theme.jpg'); /* Replace with the path to your flower theme image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white; /* Optional: Adjust text color for better contrast */
}